extends layout

block content
  .container
    header
      h1 Administrador de Series de televisión 
    form#new(action="" method= "post" name="saveSerie")
      .group  
          input#id(type="number", name="id" required)
          span.highlight
          span.bar
          label(for="id") ID
      .group  
          input#name(type="text", name="name" required)
          span.highlight
          span.bar
          label(for="name") Nombre
      .group  
          input#genero(type="text", name="genero" required)
          span.highlight
          span.bar
          label(for="genero") Genero
      .group  
          input#capitulos(type="number", name="capitulos" required)
          span.highlight
          span.bar
          label(for="capitulos") Capitulos
      button.btn(type="submit")
        span Guardar
    .table
      table
        thead
          th ID
          th Nombre
          th Genero
          th Capitulos
          th Opciones
        tbody.series
          tr.set
            td 0
            td Game of Thrones
            td drama
            td 70
            td
              a.edit(href="")
                i.fas.fa-edit
              a.delete(href="")
                i.fas.fa-minus-circle
  script(src="/javascript/main.js")